Source: libcall-context-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/Call-Context

Package: libcall-context-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Sanity-check calling context
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
