[submodule "amusewiki"]
	path = amusewiki
	url = https://github.com/melmothx/amusewiki.git
[submodule "libtext-amuse-perl"]
	path = libtext-amuse-perl
	url = git@github.com:melmothx/text-amuse.git
[submodule "libebook-epub-lite-perl"]
	path = libebook-epub-lite-perl
	url = git@github.com:melmothx/EBook-EPUB-Lite.git
