[submodule "amusewiki"]
	path = amusewiki
	url = https://github.com/melmothx/amusewiki.git
[submodule "libtext-amuse-perl"]
	path = libtext-amuse-perl
	url = https://github.com/melmothx/text-amuse.git
[submodule "libebook-epub-lite-perl"]
	path = libebook-epub-lite-perl
	url = https://github.com/melmothx/EBook-EPUB-Lite.git
[submodule "libpdf-cropmarks-perl"]
	path = libpdf-cropmarks-perl
	url = https://github.com/melmothx/pdf-cropmarks-perl.git
[submodule "libpdf-imposition-perl"]
	path = libpdf-imposition-perl
	url = https://github.com/melmothx/pdf-imposition-perl.git
[submodule "libtext-amuse-compile-perl"]
	path = libtext-amuse-compile-perl
	url = https://github.com/melmothx/text-amuse-compile.git
[submodule "libtext-amuse-preprocessor-perl"]
	path = libtext-amuse-preprocessor-perl
	url = https://github.com/melmothx/text-amuse-preprocessor.git
[submodule "libxml-opds-perl"]
	path = libxml-opds-perl
	url = https://github.com/melmothx/libxml-opds-perl
[submodule "libwordpress-dbic-schema-perl"]
	path = libwordpress-dbic-schema-perl
	url = https://github.com/melmothx/wordpress-dbic-schema-perl.git
