Source: libcrypt-xkcdpassword-perl
Section: perl
Priority: optional
Maintainer: Marco <melmoth@universe.krase.net>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libmatch-simple-perl,
 libmodule-runtime-perl,
 libmoo-perl (>= 1.006000),
 libtype-tiny-perl (>= 1.000000),
 perl (>= 5.13.4)
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Crypt-XkcdPassword

Package: libcrypt-xkcdpassword-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmatch-simple-perl,
 libmodule-runtime-perl,
 libmoo-perl (>= 1.006000),
 libtype-tiny-perl (>= 1.000000)
Description: see http://xkcd.com/936/
 Yet another password generator module inspired by http://xkcd.com/936/.
 .
 This description was automagically extracted from the module by dh-make-perl.
