Source: libbytes-random-secure-tiny-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/Bytes-Random-Secure-Tiny

Package: libbytes-random-secure-tiny-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: tiny Perl extension to generate cryptographically-secure random bytes.
 Bytes::Random::Secure::Tiny provides random bytes from a
 cryptographically secure random number generator (ISAAC), seeded from
 strong entropy sources on a wide variety of platforms. It does so
 without external dependencies (except on Windows), and has a minimal
 but useful user interface patterned after the module
 Bytes::Random::Secure.
