Source: fonts-inknutantiqua
Section: fonts
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Uploaders: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/google/fonts/ofl/inknutantiqua

Package: fonts-inknutantiqua
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: InknutAntiqua fonts
 »Inknut Antiqua« is an Antiqua typeface for literature and
 long-form text. Approaching the idea of web-publishing as a
 modern day private press, it is designed to evoke Venetian
 incunabula and humanist manuscripts, but with the quirks and
 idiosyncrasies of the kinds of typefaces you find in this
 artisanal tradition.
 .
 It comes with a complement of typographical sorts and
 OpenType features for the purpose. The proportions of Inknut
 Antiqua make it well suited for low-resolution screens.
 .
 The Inknut (Terminalia Chebula), called »harad« in Hindi, is
 a nut-like fruit that can be used for ink making and is
 purported to cure blindness. The tree it grows from is
 native to the Indian sub-continent and south-east Asia.
 .
 The Inknut Antiqua project is led by Claus Eggers Sørensen,
 a type designer based in Amsterdam. To contribute, see
 github.com/clauseggers/Inknut-Antiqua

