Source: libsymbol-get-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libcall-context-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/Symbol-Get

Package: libsymbol-get-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libcall-context-perl
Description: Read Perl’s symbol table programmatically
 Symbol::Get provides an easy, syntactic-sugar-y, read-only interface
 to the symbol table.
