Source: libx-tiny-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libmodule-runtime-perl,
 perl
Standards-Version: 4.5.1
Homepage: https://metacpan.org/release/X-Tiny

Package: libx-tiny-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmodule-runtime-perl
Description: Super-lightweight exception framework
 This stripped-down exception framework provides a baseline of
 functionality for distributions that want to expose exception
 hierarchies with minimal fuss. It’s a pattern that I implemented in
 some other distributions I created and didn’t want to copy/paste
 around.
