Source: fonts-chivo
Section: fonts
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Uploaders: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/google/fonts/ofl/chivo

Package: fonts-chivo
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Chivo fonts
 Chivo (Goat) is a new Omnibus-Type grotesque Sans Serif
 typeface family. The strength of Chivo Black makes it ideal
 for highlights and headlines. Chivo Regular's elegance makes
 it ideal for combining with the strength of Chivo Black for
 continuous reading. Its design details make it an
 indispensable ally for any designer.

