# -*- mode: debian-control -*-
### Commented entries have reasonable defaults.
### Build with equivs-build ns-control
### Uncomment to edit them.
Source: amusewiki-extra-fonts
Section: misc
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Uploaders: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 7)
Homepage: https://amusewiki.org
Standards-Version: 3.9.2

Package: amusewiki-extra-fonts
Multi-Arch: foreign
Depends: fonts-alegreya,
 fonts-alegreyasans,
 fonts-anonymouspro,
 fonts-antykwa-poltawskiego,
 fonts-antykwa-torunska,
 fonts-archivonarrow,
 fonts-arvo,
 fonts-cmu,
 fonts-coelacanth,
 fonts-cormorant-garamond,
 fonts-dejavu-core,
 fonts-dejavu-extra,
 fonts-firasans,
 fonts-freefont-otf,
 fonts-hosny-amiri,
 fonts-karla,
 fonts-librefranklin,
 fonts-linuxlibertine,
 fonts-lora,
 fonts-merriweather,
 fonts-nowacki,
 fonts-paratype,
 fonts-poppins,
 fonts-rubik,
 fonts-sil-charis,
 fonts-sil-gentium-basic,
 fonts-sourcesanspro,
 fonts-spacemono,
 fonts-texgyre,
 fonts-vollkorn
Architecture: all
Description: Extra font for amusewiki
 This package installs a large set of fonts and a fontspec.json to be
 used with amusewiki.
