Source: fonts-coelacanth
Section: fonts
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Uploaders: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/Fuzzypeg/Coelacanth

Package: fonts-coelacanth
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Coelacanth fonts
 Open-source professional-quality type family for general typesetting 
