Package: amusewiki-texlive
Source: amusewiki-texlive
Version: 20240125-1
Architecture: amd64
Maintainer: Marco Pessotto <marco@pessotto.hr>
Installed-Size: 835640
Section: tex
Priority: optional
Homepage: https://amusewiki.org
Description: Minimal TeX Live 2023 installation for Amusewiki
 This package contains a minimal and portable installation of TeX Live.
 .
 It is meant to be used by the Amusewiki compiler, but can be used
 outside of it just adding /opt/amusewiki-texlive/current/bin/arch to
 the PATH
